%h1= @task.title
%p= @task.description
%p= @task.company

= link_to "Home", root_path
= link_to "Edit", edit_task_path(@task)
= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure?" }